.postMain{
    max-height: inherit;
    padding: 0;
    margin-bottom: 24px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    margin-left: -1px;
    margin-right: -1px;
    align-items: stretch;
    display:flex;
    flex-direction: column;
    position: relative;
    justify-content: center;

}

.postHeader{
    flex-grow: 1;
    flex-shrink: 1;
    max-width: calc(100% - 48px);
    align-items: center;
    display: flex;
    position: relative;
    flex: row;
    align-content: stretch;
    margin:0;
    padding: 14px 4px 14px 16px;
}

.profile-photo{
    display: block;
    object-fit: cover;
    position: relative;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #b4b4b4;
}

.post-user{
    margin-left: 14px;
    display: flex;
    align-items: flex-start;
    position: relative;
    max-width: 220px;
    align-items: center;
    color: #262626;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

.post-user:hover{
    text-decoration: underline;
}

.post-image{
    align-items: stretch;
    display: flex;
    flex-direction: column;
    position: relative;

}

.post-icons{
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 4px;
    padding-bottom: 8px;
    padding-top: 6px;
    flex-direction: row;
    align-items: stretch;
    display: flex;
    position: relative;
}

.like-btn{
    height: 26px;
    width: 26px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    padding: 8px;
    display: block;
    position: relative;

}
