.mainColumn{
    max-width: 935px;
    width: 100%;
    margin:0 auto;
    padding: 0;
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
    align-content: center;

}

.mainPosts{
    float: left;
    max-width: 670px;
    width: 100%;
    align-items: stretch;
    position: relative;
    display: block;
    max-height: inherit;
    width: 100%;
    overflow: hidden;
    padding-bottom: 123.241%;
    flex-direction: column;
    object-fit: cover;
    justify-content: center;
    align-content: center;
}

body{
    background-color: #fafafa;
}
