.postMain{
    max-height: inherit;
    padding: 0;
    margin-bottom: 24px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    background-color: #fff;
    margin-left: -1px;
    margin-right: -1px;
    align-items: stretch;
    display:flex;
    flex-direction: column;
    position: relative;
    justify-content: center;

}

.postHeader{
    flex-grow: 1;
    flex-shrink: 1;
    max-width: calc(100% - 48px);
    align-items: center;
    display: flex;
    position: relative;
    flex: row;
    align-content: stretch;
    margin:0;
    padding: 14px 4px 14px 16px;
}

.profile-photo{
    display: block;
    object-fit: cover;
    position: relative;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #b4b4b4;
}

.post-user{
    margin-left: 14px;
    display: flex;
    align-items: flex-start;
    position: relative;
    max-width: 220px;
    align-items: center;
    color: #262626;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

.post-user:hover{
    text-decoration: underline;
}

.post-image{
    align-items: stretch;
    display: flex;
    flex-direction: column;
    position: relative;

}

.post-icons{
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 4px;
    margin-left: -8px;
    padding-bottom: 8px;
    padding-top: 6px;
    flex-direction: row;
    align-items: stretch;
    display: flex;
    position: relative;
}

.like-btn{
    height: 25px;
    width: 25px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    padding: 8px;
    display: block;
    position: relative;
}

.comment-icon{
    align-items: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
    color: #000; 
    fill: #000;
    height: 24;
    display: flex;
    padding:8px;
    height: 26px;
    width: 26px;
}

.comment-icon:hover{
    color: #8e8e8e; 
    fill: #8e8e8e;
}

.post-likes{
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 8px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
    margin: 0;
    position: relative;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    color: #262626;
    font-weight: 600;
}

.post-caption{
    margin-bottom: 4px;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    display: flex;
    padding: 0 16px;
    margin: 0;
    position: relative;
    margin-bottom: 8px;
}

b{
    font-weight: 600;
    margin-right: 5px;
    cursor: pointer;
}

b:hover{
    text-decoration: underline;
}

.post-time{
    padding-left: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: stretch;
    position: relative;
    justify-content: flex-start;
    margin-top: 0;
    text-transform: uppercase;
    color: #8e8e8e;
    cursor: pointer;
    font-size: 11px;
    line-height: 18px;

}